<div class="row">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th ng-repeat="header in headers">
                        {{header.title}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in gridPageData" ng-click="$rowClicked(data)" inner-transclude >
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <ul class="pagination">
                <li ng-class="enablePrev"  ng-click="prevPage()">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="page in pageSelector" class="{{page.class}}">
                    <a href="" ng-click="goPage(page.pageno)">
                        {{page.pageno}}
                    </a>
                </li>
                <li ng-class="enableNext" ng-click="nextPage()">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

